@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap'");
@import url('fontawesome-all.min.css');

// Breakpoints.

	@include breakpoints((
		xxlarge: ( 1681px,  1920px ), 
		xlarge:  ( 1281px,  1680px ),
		large:   ( 1001px,  1280px ),
		medium:  ( 737px,   1000px ),
		small:   ( 481px,   736px  ),
		xsmall:  ( 321px,    480px  ),
		xxsmall:  ( null,    320px  )
	));

// Base.

	@import 'base/reset';
	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/box';
	@import 'components/button';
	@import 'components/form';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/actions';
	@import 'components/icons';
	@import 'components/section';
	@import 'components/table';
	@import 'components/poptrox-popup';
	@import 'components/gallery';

// Layout.
	@import 'layout/footer';

// communal
body{
	background:rgba(4, 129 ,255 ,1);
}
h2{
	font-size: 1.8em;
	line-height: 1em;
	letter-spacing: -0.05em;
}

/* Header */
#headerTop{
	padding-top: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@include vendor('background', 'linear-gradient(180deg, rgba(255, 255, 255, 0.62) 0%, rgba(255, 255, 255, 0) 100%)');
	.mobiiLogo{
		margin: 0.5em;
		width: 115px;
	}
	.AugLogo{
		margin: 0.5em;
		width: 200px;
	}
	.AugLable{
		margin: 0.5em;
		width: auto;
		height: 30px;
	}
	@include breakpoint('<=medium') {
		.mobiiLogo{
			margin: 0.5em;
			width: calc(115px *0.7);
		}
		.AugLogo{
			margin: 0.5em;
			width: calc(200px *0.6);
		}
		.AugLable{
			margin: 0.5em;
			width: auto;
			height: calc(30px *0.6);
		}
	}
}

/* Main */
	.main {
		@include vendor('display', 'flex');
		position: relative;
		margin: 0;
		overflow-x: hidden;
		h3, h4{
			font-weight: 400;
		}
		&.styleIntro {
			@include padding(10em, 0);
			@include vendor('background-image', 'url("../../event/img0818/introImg02.png")');
			background-attachment: local;
			background-position: 50% 70%;
			background-size: 488px;
			background-repeat: no-repeat;
			text-align: center;
			.airplane{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-120%);
				width: 160px;
				animation-name:anim01;
				animation-duration:1s;
			}
			.introPhoto1{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(100%,-70%);
				width: 128px;
				animation-name:anim02;
				animation-duration:1s;
			}
			.introPhoto2{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(180%,-70%);
				width: 128px;
				animation-name:anim02;
				animation-duration:0.5s;
			}
			.introImg01{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(150%,-128%);
				width: 175px;
				animation-name:anim02;
				animation-duration:2s;
			}
			
			@keyframes anim01{
				from{
					left:-50%;
				}
				to{
					left: 50%;
				}
			}
			@keyframes anim02{
				0%{
					opacity: 0;
				}
				100%{
					opacity: 1;
				}
			}
		}	
		&.styleS1{
			@include padding(3em, 0);
			@include vendor('align-items', 'center');
			@include vendor('justify-content', 'center');
			overflow: hidden;
			text-align: center;
			flex-direction: column;	
			color: #fff;
			white-space: nowrap;
			&.bg-yellow{
				background: _palette(colorset,bg-yl);
			}
			h2,h3{
				color: #182B56;
			}		
			h4{
				color: #204A69;
			}
		}	
		&.bgBlock{
			@include vendor('background-image', 'url("../../event/img0818/bgBlock1.png")');
			background-attachment: local;
			background-position: 50% 90%;
			background-size: 320px;
			background-repeat: no-repeat;
			text-align: center;
		}
		&.bgBlock2{
			@include vendor('background-image', 'url("../../event/img0818/bgBlock2.png")');
			background-attachment: local;
			background-position: 50% 50%;
			background-size: 380px;
			background-repeat: no-repeat;
			text-align: center;
		}
		&.fullscreen {
			min-height: 100%;
		}
		body.is-touch & {
			background-attachment: scroll !important;
		}		

		@include breakpoint('<=xxlarge') {
		}

		@include breakpoint('<=large') {
		}

		@include breakpoint('<=medium') {
			&.styleIntro {
				@include padding(13em, 0);
				@include vendor('background-image', 'url("../../event/img0818/introImg02.png")');
				background-attachment: local;
				background-position: 45% 40%;
				background-size: 388px;
				background-repeat: no-repeat;
				text-align: center;
				overflow: hidden;
				.airplane{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-170%);
					width: 130px;
				}
				.introPhoto1{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-85%,50%);
					width: 108px;
				}
				.introPhoto2{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(0%,42%);
					width: 108px;
				}
				.introImg01{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(24%,-30%);
					width: 140px;
				}
			}	
			&.bgBlock{
				background-size: 280px;
			}
			&.bgBlock2{
				background-size: 315px;
			}
		}

		@include breakpoint('<=small') {
		}

		@include breakpoint('<=xsmall') {
        }
        
		@include breakpoint('<=xxsmall') {
		}
	}

	#st1 img{
		width: inherit;
		max-width: 340px;
	}
	#st2{
		img{
			width: -webkit-fill-available;
			max-width: 480px;
			padding: 1em;
		}
		button{
			border-radius: 16px;
			background: #F44658;
			color:#fff;
			&:hover{
				opacity: .8;
			}
		}
	} 
/* Footer */
	#footer{
		@include vendor('align-items', 'center');
		@include vendor('justify-content', 'center');
		overflow: hidden;
		text-align: center;
		padding: 2em 0 1em 0;
		color: #fff;
		font-weight: 400;
		background: transparent;
		font-size: .95em;
		img.footimg{
			width: 374px;
			padding: 2em;
		}
		a{
			color: #fff;
			text-decoration: underline;
			padding: 0 .25em;
			&:hover{
				opacity: .8;
			}
		}
		.jastka{
			width: 52px;
			position: fixed;
			bottom: 0;
			right: 0;
			margin: 2em 1em;
		}
		ul{
			list-style-image:url('../../images/dot.png');
			padding: 2em 1em 1em 1em;
			li{
				text-align: left;
			}
		}
		@include breakpoint('<=small') {
			font-size: 90%;
			img.footimg{
				width: 300px;
			}
        }
	}