.linebox{
    width: 375px;
    height: 100vh;
    margin: 0 auto;
    background: #849ebf;
}
.chat-box {
    bottom: 0;
    width: 100%;
    height: auto;
    min-width: 320px;
    .popup-messages {
        background: #849ebf none repeat scroll 0 0;
        height: auto;
        overflow-y: auto; 
        .guestsbox, .directbox{
            position: relative;
            overflow: hidden;
            padding: 10px 0 0 0;
        }
        .chat-messages {
            height: 100%;
            overflow-y: auto; 
            padding: 10px;
        }
    }
    .service-store-footer{
        position: fixed;
        bottom: 0;
    }
} 
.popup-box-on {
    display: block !important;
}
.hr-100{
    width: 100%;
    height: 1px;
    background-color: #cccccc;
}  
.timestamp-s{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 0.8em;
    padding: 1em;
    display: inline-block;
}
.popup-messages {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 0 0.5em 3em 0.5em;
    /* direct */
    .direct-chat-text {
        margin: 5px 5px 0 5px;
        padding: 5px 10px;
        position: relative;
        background: #E5E5EA none repeat scroll 0 0;
        border: 1px solid #E5E5EA;
        border-radius: 10px;
        color: #1f2121;       
        width: fit-content;
        min-height: 36px;
        font-size: 13px;
        font-weight: 500; 
        &::after, 
        &::before {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            border-color: transparent #E5E5EA transparent transparent;
            border-image: none;
            border-style: solid;
            border-width: medium;
            content: " ";
            height: 0;
            pointer-events: none;
            position: absolute;
            right: 100%;
            top: 15px;
            width: 0;
        }
        &::after {
            border-width: 5px;
            margin-top: -5px;
        }
    }
    .direct-chat-timestamp {
        color: #fff;
        opacity: 0.6;
        font-size: 10px;
        // position: absolute;
        // top: 0;
        // left: 0;
    }
    .direct-chat-name {
        font-size: 13px;
        font-weight: 600;
        margin: 0 0 0 49px !important;
        color: #fff;
        opacity: 0.9;
    }
    .direct-chat-info {
        display: block;
        font-size: 10px;
        margin-bottom: 0;
    }
    .direct-chat-img {
        border: 1px solid #fff;
        background: #3f9684  none repeat scroll 0 0;
        border-radius: 50%;
        float: left;
        height: 40px;
        margin: -21px 0 0;
        width: 40px;
    }  
    .direct-chat-msg {         
        margin-bottom: 10px;
        position: relative;
        max-width: 70%;
    }     
    .guests-imgbox, .direct-imgbox{
        margin: 5px 5px 0 5px;
        img{
        width: 100%;
        height: auto;
        border-radius: .5em;
        }
    }
    /* guests */
    .guests-chat-msg{        
        margin-bottom: 10px;
        margin-right: 5px;
        position: relative;
        max-width: 70%;
        float: right;
    }
    .guests-chat-text {       
        margin: 5px 0 0 5px;
        padding: 5px 10px;
        position: relative;  
        width: fit-content;
        min-height: 36px;
        max-width: 100%;
        background: #c3f69d none repeat scroll 0 0;
        border: 1px solid #c3f69d;
        border-radius: 10px;
        color: #1f2121;
        font-size: 13px;
        font-weight: 500;
        text-align: left;
        float: right;
        &::after, 
        &::before {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            border-color: transparent transparent #c3f69d transparent;
            border-image: none;
            border-style: solid;
            border-width: medium;
            content: " ";
            height: 0;
            pointer-events: none;
            position: absolute;
            right: -6px;
            top: 15px;
            width: 0;
        }
        &::after {
            border-width: 5px;
            margin-top: -5px;
        }
    }    
    .guests-chat-timestamp {
        color: #fff;
        opacity: 0.6;
        font-size: 10px;
    }
    .guests-chat-name {
        text-align: right;
        font-size: 13px;
        font-weight: 600;
        font-size: 0.8em;
        opacity: 0.9;
        color: #fff;
        margin: 0 0 0 50px !important;
    }
    .guests-chat-info {
        display: block;
        font-size: 10px;
        margin-bottom: 0;
        text-align: right;
    }
    .guests-chat-img {
        border: 1px solid #fff;
        background: #3f9684  none repeat scroll 0 0;
        border-radius: 50%;
        float: right;
        height: 40px;
        margin: 4px 0 0;
        width: 40px;
    }  
} 
.re-box{
    display: flex;
    width: 100%;
    .item:first-child{
        width: 20px;
    }
    .item:nth-child(2){
        text-align: left;
        padding-right: .25em;
        padding-left: .25em;
        p:first-child{
            font-weight: bold;
            margin-bottom: 0;
        }
        p:last-child{
            margin-bottom: 0;
            color: gray;
        }
    }
    .item:last-child{
        width: 35px;
    }
}
.re-box1{
    display: flex;
    width: 100%;
    .item:first-child{
        width: 20px;
    }
    .item:nth-child(2){
        text-align: left;
        padding-right: .25em;
        padding-left: .25em;
        p:first-child{
            font-weight: bold;
            margin-bottom: 0;
        }
        p:last-child{
            margin-bottom: 0;
            color: gray;
        }
    }
}
hr.w-100{
    position: absolute;
    transform: translate(-8px,-100%);
    margin-top: .25em;
    margin-bottom: .25em;
}
.notebox{
    padding: 2em 1.5em 1em 1.5em;
    position: fixed;
    right: 1em;
    top: 1em;
    background: #E5E5EA;
    border-radius: 30px;
    width: 375px;
    text-align: center;
    h6{
        font-weight: bold;
    }
    ul{
        font-size: 13px;
        text-align: left;
        // list-style-type: none;
        padding-inline-start: 28px;
    }
    img{
        width: 240px;
        border-radius: 15px;
    }
    .close{
        position: absolute;
        text-align: right;
        right: .5em;
        top: .5em;
        font-size: x-large;
        font-weight: bold;
    }
    @media (max-width: 480px) {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        .notebody{
            overflow-y: scroll;
            height: 100vh;
        }
    }
}
.qbtn{
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 1em;
    img{
        width: 30px;
    }
}